* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

.header {
  margin: 2rem 0 4rem 1rem;
  text-align: center;
  color: green;
}

main {
  width: 100%;
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.score_header {
  display: flex;
  font-size: 14px;
  gap: 0.5rem;
  margin-bottom: 1rem;
  color: green;
}

.refresh_button {
  cursor: pointer;
  padding: 0.4rem;
  background: lightgreen;
  border: none;
  font-size: 16px;
  color: darkgreen;
}

.refresh_button:hover {
  border: 2px solid green;
}


.form_header {
  margin-bottom: 1rem;
  color: green;
}

.form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.4rem;
}

input::placeholder {
  font-style: italic;
}

.form_button {
  cursor: pointer;
  display: block;
  margin-top: 1rem;
  align-self: flex-end;
  padding: 0.4rem;
  background: lightgreen;
  border: none;
  font-size: 16px;
  color: darkgreen;
}

.form_button:hover {
  border: 2px solid green;
}

.score_lists {
  border: 2px solid black;
  list-style: none;
}

.score_list {
  padding: 0.4rem;
}

.score_list:nth-child(even) {
  background: lightgray;
}
